@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 30%;
    float: left;
    background: rgb(181, 181, 255);
    height: 400px;
    padding: 20px;
}
article {
    width: 70%;
    float: left;
    background: #ffc1c1d8;
    height: 400px;
    padding: 20px;
}
nav ul {
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
}
.img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
@media (max-width:800px) {
    nav , article {
        width: 100%;
        height: auto;
    }
.img {
    max-width: 100%;
    height: auto;
    }
    }
/*  */
