@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body {
    height: 100%;
    background: #9F73AB;
}
.fatherofshadow{
text-align: center;
margin: 3rem;
}
.shadow {
    height: 300px;
    width: 300px;
    box-shadow: #970404 0px 2px 5px 0px inset;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
}
